# Database connection string (SQLite by default)
DATABASE_URL="file:./dev.db"

# Session Secret Key
SESSION_SECRET="institute_crm_secure_session_secret_2026_key_super_secret"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
